{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 9", "ie >= 11"]
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": ["transform-object-rest-spread"],
  "comments": false
}
